
header {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 170, 255);
    background-image: url("img/pattern.png");
    background-size: 800px 250px;
}

#logo {
    width: 250px;
    height: 150px;   
}

h1{
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 20px;
    color:rgb(152, 162, 172);
    margin: 0;
}

span {
    color: rgb(119, 183, 255);
    margin: 0%;
}

h3 {
    margin: 0;
    font-size: small;
    color: rgb(152, 162, 172);
}

#credits{
    font-size: 12px;
    margin: 0;
}

ul{
    padding-left: 20px;
}

table {
    width: 1000px;
    width: 1300px;
    height: 200px;
    border-collapse: collapse;
    text-align: left;

}



th{
    background-color: lightblue ;
    font-size: medium;
    height: 10px;
    background-color: rgb(99, 192, 250);
    color: white;
    background-color:rgb(93, 190, 250) ;


}


.td{
    height: 60px;
    width: 60px;;

.cella1{
    width: 200px;
}

.colorecella{
    background-color: rgb(45, 178, 211);
}


.evidenziatore{
    background-color: aqua;
    color: black;
}


