
header {
    width: 100%;
    height: 120px;
    border: 5px solid black;
    background-color: rgb(0, 170, 255);
    background-image: url("img/pattern.png");
    background-size: 800px 250px;
}

#logo {
    width: 250px;
    height: 150px;   
}

h1{
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 20px;
    color:rgb(152, 162, 172);
    margin: 0;
}

span {
    color: rgb(119, 183, 255);
    margin: 0%;
}

#credits{
    font-size: 12px;
    margin: 0;
}

ul{
    padding-left: 20px;
}